/* NAV-BAR */
.navbar.fixed-top.navbar-dark.bg-dark {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-item.nav-link {
    color: white;
    transition: color 0.3s;
}

.nav-item.nav-link:hover {
    color: #cccccc;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}

/* CENTRALIZANDO */

body{
    padding-top: 30px;
}

/* FORMULÁRIO CADASTRO CSS */

.btn-close{
    filter: brightness(0) invert(1);
}

.form-control{
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid #eee;
    transition: all 0.3s ease;
}

.form-control:focus{
    border-color: black;
    box-shadow: none;
}

h2{
    text-align: center;
    font-weight: 700;
}

.input-group-text{
    border: none;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    color: #666;
}

.input-group {
    position: relative;
}

.btn-login {
    padding: 12px 20px;
    background: linear-gradient(135deg, black, #4f4f4f);
    border: none;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    transition: all 0.3s ease;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px black;
}